<html>
  <head>
    <meta charset='utf-8'>
    <title>{{page.title}} - @umihico</title>
    <link rel="stylesheet" href="/git-powered-philosophy/layout/css.css" type="text/css">
    <script src="js/stickyfill.min.js"></script>
    <script>$('.sticky').Stickyfill();</script>
  </head>
  <body>
    <div class="wavebox">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="articlebox">
      {{content}}
    </div>
  </body>
</html>
